body{
	padding-top: 42px
}
.panel-menu{
	padding-top: 10px;
	position: fixed;
	z-index: 4;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #fff;
	border-color: #fff;
	border-radius: 4px;
	border-width: 1px;
	border-top-width: 1px;
	border-style: solid;
	top: 90px !important;
	overflow-y: auto;
	overflow-x: hidden;
	box-shadow: 3px 3px 3px #000;
	height: 80% !important;
}
.ui-autocomplete{
	z-index: 2147483647
}
.ui-datepicker{
	width: 17em;
	padding: .2em .2em 0;
	z-index:9999 !important
}
.btn-outline {
		background-color: transparent;
		color: inherit;
		transition: all .5s;
}
.btn-primary.btn-outline {
	color: #428bca;
}
.btn-success.btn-outline {
	color: #5cb85c;
}
.btn-info.btn-outline {
	color: #5bc0de;
}
.btn-warning.btn-outline {
	color: #f0ad4e;
}
.btn-danger.btn-outline {
	color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
	color: #fff;
}
.list-group-item {
	padding: 5px 5px;
}
.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
	background-color: #9acfea;
}